<div *ngIf="detail">

<div class="alert alert-info" role="alert">
        {{detail.NextWeek}}
      </div>

<!-- <ul>
    <li *ngFor="let day of detail.Daily">
      {{ day.Date | date:'shortDate' }}
    </li>
  </ul> -->

<ul>
  <li *ngFor="let day of detail.Daily">
    <div class="col-12__">
        <div class="card">
            <div class="card-img-top">
                
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <h5 class="card-title">
                      {{ day.Date | date:'shortDate' }}
                      {{ day.Icon | uppercase | replaceStr : "-":" " }}
                  </h5>
                </div>
                <div class="col-4">
                  <p class="card-text">{{ day.Description }}</p>
                </div>
                <div class="col-2">
                  <p class="card-text">Et0 {{ day.ET0 }}</p>                
                </div>
                <div class="col-2">
                  <p class="card-text">% Precipitation <span class="badge">{{ day.PrecipProbability }}</span></p>
                </div>
              </div>                
            </div>
        </div>
    </div>
  </li>
</ul>


<!-- Lat: {{detail.latitude}}
Lon: {{detail.longitude}} -->
</div>