


<div class="row">
  <div class="col">
    <label>Latitude:
      <input [(ngModel)]="myLocation.latitude" class="form-control text-right" placeholder="Latitude">
    </label>
  </div>

  <div class="col">
    <label>Longitude:
      <input [(ngModel)]="myLocation.longitude" class="form-control text-right" placeholder="Longitude">
    </label>
  </div>

  <div class="col">
    <button class="btn" (click)="onClick()">Get !!</button> 
  </div>
</div>

<app-location-detail [detail]="et0"></app-location-detail>
