

<div class="form-check form-check-inline">   
    <label class="form-check-label" for="inlineCheckbox1">Latitude</label>
    <input [(ngModel)]="myLocation.latitude" class="form-control text-right" placeholder="Latitude">
</div>
<div class="form-check form-check-inline">
    <label class="form-check-label" for="inlineCheckbox2">Longitude</label>
    <input [(ngModel)]="myLocation.longitude" class="form-control text-right" placeholder="Longitude">
</div>
 <div class="form-check form-check-inline">
      <button class="btn btn-primary" (click)="localize()">Localize me!!</button> 
      <button class="btn btn-primary" (click)="onClick()">Get !!</button>       
</div>

<app-location-detail [detail]="et0"></app-location-detail>
